<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/sign-up.css' />
    <link rel='stylesheet' href='/stylesheets/log-in.css' />
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
    <link rel='stylesheet' href='/stylesheets/message-card.css' />
    <script src="/javascripts/header.js" defer></script>
    <script src="/javascripts/sign-up.js" defer></script>
    <script src="/javascripts/navbar.js" defer></script>
</head>
<% let openFormValue = false;
    if(locals.openForm){ 
        openFormValue = true;
    }    
%>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="valueToOpenForm"><%- openFormValue %></div>
    <div class="window-protection"></div>

    <%- include('./partials/sign-up.ejs') %> 
    <%- include('./partials/log-in.ejs') %> 

    <section class="index-main-body-container">
        <%- include('./partials/navbar.ejs') %> 
        <% if(!locals.existingUser) {%>
            <div class="index-main-body">
                <%- include('./partials/message-card.ejs') %>
            </div>
        <% } else {%>
            <div class="error-message">
                This user already exists. Try a different one, please.
            </div>            
        <% } %>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>
</html>
