<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/sign-up.css' />
    <link rel='stylesheet' href='/stylesheets/log-in.css' />
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
    <link rel='stylesheet' href='/stylesheets/message-form.css' />
    <script src="/javascripts/header.js" defer></script>
    <script src="/javascripts/sign-up.js" defer></script>
    <script src="/javascripts/navbar.js" defer></script>
</head>
<% let openFormValue = false;
    let userId = '';
    if(locals.openForm){ 
        openFormValue = true;
    }
    if(locals.userSession){
        userId = userSession.id;
    }    
%>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="valueToOpenForm"><%- openFormValue %></div>
    <div class="window-protection"></div>

    <%- include('./partials/sign-up.ejs') %> 
    <%- include('./partials/log-in.ejs') %> 

    <% if(locals.userSession) { %>
        <form action="" method="POST" class="message-form">
            <div class="div-form-message">
                <label for="title-message">Title:</label>
                <input type="text" id="title-message" name="title" required>
            </div>
            <div class="div-form-message">
                <label for="-message">Message:</label>
                <textarea type="text" id="message" name="message" required></textarea>
            </div>
            <input type="hidden" name="author" required value=<%- userId %>>
            <button class="message-submit">Create</button>
        </form>
    <% } else  {%>
        <div class="no-user-message">
            You must log in to create messages
        </div>
    <% } %>


    <%- include('./partials/footer.ejs') %>
</body>
</html>
